
@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Space+Grotesk:wght@400;600&display=swap');

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0
}
*::before,
*::after{
  box-sizing:border-box;
}
body{
  margin:0;
  padding:0;
  font-family: 'Space Grotesk', sans-serif;
  font-size:16px;
}
img{
    display:block;
    width:100%;
    -o-object-fit:cover;
       object-fit:cover;
  }
.course{
    display:flex;
    width:90%;
    margin:0 auto;
  }
#course {
    display: flex;
    justify-content: space-evenly;
}
#course .item{
  gap: 1em;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 2em 1em;
 }
.course img{
    width:100%;
}


  /* todos 
.item .description{}

.item .info-url{}

.item .basket{}

.item .more-info{}  
  
.item .title{
*/
